<div class="counter">
	<div class="__inner">
		<div class="row justify-content-sm-center">
			<!-- start item -->
			<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-3">
				<div class="__item" data-aos="zoom-in" data-aos-duration="350" data-aos-delay="150">
					<div class="d-table">
						<div class="d-table-cell align-middle">
							<i class="__ico">
								<img class="img-fluid  lazy" src="img/blank.gif" data-src="img/ico/ico_count_1.png" alt="demo" />
							</i>
						</div>

						<div class="d-table-cell align-middle">
							<p class="__count js-count" data-from="0" data-to="19500">19 500</p>

							<p class="__title">Tons of harvesta</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-3">
				<div class="__item" data-aos="zoom-in" data-aos-duration="350" data-aos-delay="300">
					<div class="d-table">
						<div class="d-table-cell align-middle">
							<i class="__ico">
								<img class="img-fluid  lazy" src="img/blank.gif" data-src="img/ico/ico_count_2.png" alt="demo" />
							</i>
						</div>

						<div class="d-table-cell align-middle">
							<p class="__count js-count" data-from="0" data-to="2720">2 720</p>

							<p class="__title">Units of Cattle</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-3">
				<div class="__item" data-aos="zoom-in" data-aos-duration="350" data-aos-delay="450">
					<div class="d-table">
						<div class="d-table-cell align-middle">
							<i class="__ico">
								<img class="img-fluid  lazy" src="img/blank.gif" data-src="img/ico/ico_count_3.png" alt="demo" />
							</i>
						</div>

						<div class="d-table-cell align-middle">
							<p class="__count js-count" data-from="0" data-to="10000">10 000</p>

							<p class="__title">Hectares of farm</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-3">
				<div class="__item" data-aos="zoom-in" data-aos-duration="350" data-aos-delay="600">
					<div class="d-table">
						<div class="d-table-cell align-middle">
							<i class="__ico">
								<img class="img-fluid  lazy" src="img/blank.gif" data-src="img/ico/ico_count_4.png" alt="demo" />
							</i>
						</div>

						<div class="d-table-cell align-middle">
							<p class="__count js-count" data-from="0" data-to="128">128</p>

							<p class="__title">Units of technic</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>